
.todoitems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.todoitems-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

}
.todoitems-notick-icon{
    width: 25px;
    height: 25px;
}
.todoitems-tick-icon{
    width: 40px;
    height: 40px;
}

.todoitems-text{
    font-size: 20px;
}
.todoitems-cross-icon{
    display: flex;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}